.body{
	align:center;
}
.row{
	align-items: center;
}


body, html
{
	background-color: #EDEDED !important;
}

#navegador{

	font-style:oblique;
}

.navegador2{
	background-color: white;
}

    header,body, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header,body, main, footer {
        padding-left: 0;
      }
    }

/*background-image:url(../img/ACG.jpg); para referenciar imagen*/
