<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <section class="principal">
        <h2>Busqueda  en tiempo real jquery</h2>
        <div class="form-1-2">
          <label for="caja_busqueda">Buscar: </label>
          <input type="text" name="caja_busqueda" id="caja_busqueda" value="">
        </div>
        <div id="datos" class="">
        </div>
      </section>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="js/jquery-ui/jquery-ui.min.js"></script>
      <script src="assets/js/main.js"></script>
  </body>
</html>
